/*-----------------------------------------------------------------------------
 *
 * CSS styling for the home page
 *
 *---------------------------------------------------------------------------*/

/* font definition for bold fonts */
@font-face {
    font-family: raleway-bold;
    src: url("fonts/raleway/Raleway-Bold.ttf");
    src: url('fonts/raleway/Raleway-Bold.eot');
    src: url('fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('fonts/raleway/Raleway-Bold.woff') format('woff'),
        url('fonts/raleway/Raleway-Bold.ttf') format('truetype'),
        url('fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font definition for regular fonts */
@font-face {
    font-family: raleway-regular;
    src: url('fonts/raleway/Raleway-Light.eot');
    src: url('fonts/raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway/Raleway-Light.woff2') format('woff2'),
       url('fonts/raleway/Raleway-Light.woff') format('woff'),
       url('fonts/raleway/Raleway-Light.ttf') format('truetype'),
       url('fonts/raleway/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* styling for the html */
html {
    font-family: raleway-regular;
    font-size: 20px;
    
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

/* styling for the body */
body {
    margin: 0;
}

/* a */
a {
    /*color: white;*/
    text-decoration: none;
}

/* h1 */
h2 {
    margin: 0;
    font-family: raleway-bold;
    font-size: 64px; /*5rem*/
    font-weight: normal;
}

/* h2 */
h3 {
    margin: 0;
    font-weight: normal;
}

/* p */
p {
    margin: 0;
}

/* styling for a single page */
.page {
    min-height: 100vh;
    padding: 96px 14px; /*2rem 1rem*/
    box-sizing: border-box;
}

.page > article {
    margin: 16px auto;
    width: 1120px;
    max-width: 90%;
}

.page > article > header {
    margin-bottom: 28px; /*2rem;*/
}

/* styling for elements which should center their content*/
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* prevents word wrapping */
.nowrap {
    white-space: nowrap;
}

/* styling for down-pointing arrows */
.arrow-down {
    margin: 0 auto;
    background-image: url("images/arrow-down.svg");
    background-position: center;
    background-size: cover;
    width: 42px; /*3rem;*/
    height: 42px; /*3rem;*/
    cursor: pointer;
}

.arrow-down-white {
    background-image: url("images/arrow-down-white.svg");
}