/*-----------------------------------------------------------------------------
 *
 * CSS styling for the home page
 *
 *---------------------------------------------------------------------------*/

/* font definition for bold fonts */
@font-face {
    font-family: raleway-bold;
    src: url("fonts/raleway/Raleway-Bold.ttf");
}

/* font definition for regular fonts */
@font-face {
    font-family: raleway-regular;
    src: url("fonts/raleway/Raleway-Light.ttf");
}

/* styling for the htm */
html {
    font-family: raleway-regular;
    font-size: 20px;
}

/* styling for the body */
body {
    margin: 0;
}

/* styling for the headers */
header {
    font-family: raleway-bold;
    font-size: 64px; /*5rem*/
}

/* a */
a {
    /*color: white;*/
    text-decoration: none;
}

/* styling for a single page */
.page {
    min-height: 100%;
    padding: 28px 14px; /*2rem 1rem*/
    box-sizing: border-box;
}

.page > article > header {
    margin-bottom: 28px; /*2rem;*/
}

/* styling for elements which should center their content*/
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* prevents word wrapping */
.nowrap {
    white-space: nowrap;
}

/* styling for down-pointing arrows */
.arrow-down {
    margin: 0 auto;
    background-image: url("images/arrow-down.svg");
    background-position: center;
    background-size: cover;
    width: 42px; /*3rem;*/
    height: 42px; /*3rem;*/
    cursor: pointer;
}

.arrow-down-white {
    background-image: url("images/arrow-down-white.svg");
}