#home {
    /*padding-top: 64px;*/
    background-color: rgb(240, 240, 240);
}

/* container for elements with restricting width */
#home > article {
    margin: 0 auto;
    max-width: 90%;
    width: 700px; /*50rem*/
    text-align: center;
}

/* styling for the profile picture */
#profilepicture {
    width: 224px; /*16rem;*/
    height: 224px; /*16rem;*/
    
    background-image: url("images/profilepicture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin: 14px; /*1rem;*/

    border-radius: 224px; /*16rem;*/
    border: 7px /*0.5rem*/ solid #786dff;
    
    box-shadow: /*0.2rem 0.3rem 0.5rem 0.1rem*/ 2px 4px 8px 1px lightgray;
}

#introduction {
    font-family: raleway-bold;
    font-size: 64px; /*5rem;*/
}

#title {
    font-size: 24px; /*2rem;*/
    color: slategray;
}

#workdescription {
    font-size: 24px; /*2rem;*/
    text-align: justify;
    margin: 52px 0px; /*4rem 0rem;*/
    color: darkslategray;
}