/*--------------------------------------------
 * Make the content scalable
 *--------------------------------------------*/

@media screen and (max-width: 960px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 896px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 704px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-height: 928px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-height: 832px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-height: 736px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-height: 640px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-height: 544px) {
    html {
        font-size: 50%;
    }
}