/* 
 * add a margin to the top of the body for the fixed position navigation bar
 */
body {
    margin-top: 64px; /*4rem;*/
}

/* styling for the navigation bar */
nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 64px; /*4rem;*/
    
    display: flex;
    justify-content: flex-end;
    
    background-color: white;
    
    border-bottom: 1px solid rgb(211, 211, 211);
}

/* styling of the navigation element */
nav > a  {
    margin: 0px 0px; /*0rem 1rem;*/
    padding: 0px 14px;
    height: 100%;
    font-size: 24px;
    
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    
    color: darkslategray;
    
    display: flex;
    align-items: center;
    
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    
    cursor: pointer;
}

nav > a:hover {
    color: #786dff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #786dff;

}