/* navigation */
body {
    margin-top: 4rem;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    
    color: black;
    background-color: white;
    
    font-size: 2rem;
    font-family: raleway-regular;
        
    border-bottom: 1px solid rgb(211, 211, 211);
}

/* styling of the navigation element */
nav > a  {
    height: 4rem;
    margin: 0rem 1rem;
    
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    
    display: flex;
    align-items: center;
    
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    cursor: pointer;
}

nav > a:hover {
    color: skyblue;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid skyblue;
}