#publications {
    /*background-color: #3587e8;*/
    background-color: #786dff;
}

article {
    margin: 16px auto; /*2rem auto;*/
    
    width: 1120px; /*80rem;*/
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#publications > article > header {
    color: white;
}

.publication {
    display: flex;
    align-items: center;

    background-color: white;
    color: black;

    border-radius: 2px; /*0.2rem;*/
    padding: 16px; /*2rem;*/
    margin-bottom: 16px; /*2rem;*/
    
    box-shadow: 6px 6px 16px darkslategray;/*0.2rem 0.2rem 0.4rem gray;*/
}

.title {
    font-family: raleway-bold;
    font-size: 28px;
    margin-bottom: 16px;
}

.authors {
    font-family: raleway-regular;
    font-size: 20px;
    margin-bottom: 24px;
}

.author {
    text-decoration: none;
}

.location {
    font-family: raleway-regular;
    font-size: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    
    margin-top: 24px;
}

.link {
    width: 96px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/*
.link:first-child {
    margin-left: 0;
}*/

.link:last-child {
    margin-right: 0;
}

.link-icon {
    width: 48px;
    height: 48px;
    margin: auto;
}

.link-description {
    text-align: center;
    font-size: 16px;
}

.publication-thumbnail {
    width: 24vmin;
    height: 24vmin;
    min-width: 160px;
    min-height: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: /*0.4rem*/ 8px solid rgb(230,230,230);
    box-shadow: 4px 4px 8px /*0.2rem 0.2rem 0.4rem*/ gray;
}

.publication-data {
    flex: 1;
    padding: /*1rem;*/ 16px;
}