#publications {
    /*background-color: #3587e8;*/
    background-color: #786dff;
}

article {
    margin: 16px auto; /*2rem auto;*/
    
    width: 1120px; /*80rem;*/
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#publications > article > header {
    color: white;
}

.publication {
    display: flex;
    align-items: center;

    background-color: white;
    color: black;

    border-radius: 2px; /*0.2rem;*/
    padding: 16px; /*2rem;*/
    margin-bottom: 16px; /*2rem;*/
    
    box-shadow: 4px 4px 8px gray;/*0.2rem 0.2rem 0.4rem gray;*/
}

.title {
    font-family: raleway-bold;
    font-size: 28px;
    margin-bottom: 16px;
}

.authors {
    font-family: raleway-regular;
    font-size: 20px;
    margin-bottom: 24px;
}

.author {
    text-decoration: none;
}

.location {
    font-family: raleway-regular;
    font-size: 20px;
}

.publication-thumbnail {
    width: 20vmin;
    height: 20vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: /*0.4rem*/ 8px solid rgb(230,230,230);
    box-shadow: 4px 4px 8px /*0.2rem 0.2rem 0.4rem*/ gray;
}



.publication-data {
    flex: 1;
    padding: /*1rem;*/ 16px;
}