#resume {
    background-color: rgb(240, 240, 240);
}

#resume-header {
    flex: 1;
}

.resume-subsection > header > h2 {
    width: 100%;
    font-size: 28px;
    padding-bottom: 8px; /*0.5rem;*/
    border-bottom: 1px solid lightgray;
}

#resume-link {
    background-image: url("images/pdf-black.svg");
}

#resume-link:hover {
    background-image: url("images/pdf-blue.svg");
}

.resume-table {
    margin: 16px 0px; /*1rem 0rem;*/
}

#table-education, #table-publications {
    border-spacing: 0px 16px; /*0rem 1rem;*/
}

#table-education > tbody > tr > td:first-child {
    border-right: 1px solid lightgray;
}

#table-publications > tbody > tr > td:first-child {
    border-right: 1px solid lightgray;
}

td {
    padding: 8px 16px; /*0.5rem 1rem;*/
    vertical-align: top;
}

table {
    width: 100%;
    font-size: 18px;
}

table > tbody > tr > td:first-child {
    width: 25%;
}